<!DOCTYPE html>
<html lang="en">
     <head>
          <meta charset="utf-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <meta name="description" content="Apply today for National Innovation Diploma in Computer Hardware, Software, Network and System Security, Owerri Nigeria"/>
          <meta name="description" content="Oluaka Institute of Technology Owerri is the foremost Techno-Innovation Learning Institute in the South East Nigeria. Our goal is to prepare future conscious engineers to build scalable product to solve indigenious problem within a given community. Apply now to commence you career into Technology and Innovation space.">
          <meta name="keywords" content="oluaka, technology, nid, global distance learning center, global learning distance institute, institute owerri, computer hardware, computer software, networking and system security, cybersecurity, startup incubator, seedfunding, admission in progress, post utme owerri, continuing education center, education, international certification, MBA, Advanced Diploma">
          <title>Oluaka Institute | Home </title>
          
          <!-- Favicon -->
          <link rel="shortcut icon" href="https://res.cloudinary.com/oluaka/image/upload/v1600352559/oluaka_portal/favico/favicon_wzxccg.ico" type="image/x-icon">
          
          <!-- Font awesome -->
          <link href="styles/font-awesome.css" rel="stylesheet">
          
          <!-- Bootstrap -->
          <link href="styles/bootstrap.css" rel="stylesheet">   
          
          <!-- Slick slider -->
          <link rel="stylesheet" type="text/css" href="styles/slick.css">          
          
          <!-- Fancybox slider -->
          <link rel="stylesheet" href="styles/jquery.fancybox.css" type="text/css" media="screen" /> 
          
          <!-- Theme color -->
          <link id="switcher" href="styles/theme-color/default-theme.css" rel="stylesheet">          
          
          <!-- Main style sheet -->
          <link href="styles/style.css" rel="stylesheet">    
          <link href="styles/styles2.css" rel="stylesheet"> 

          <!-- Google Fonts -->
          <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
          <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,500,700' rel='stylesheet' type='text/css'>
          
          <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
          <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
          <!--[if lt IE 9]>
               <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
               <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
               <![endif]-->
     </head>
     

          
          <!-- END SCROLL TOP BUTTON -->
          
            <!-- Start menu -->
            <section id="mu-menu">
               <nav class="navbar navbar-default" id="navbars" role="navigation">  
                    <div class="container">
                         <div class="navbar-header">
                              
                              <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
                              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                   <span class="sr-only">Toggle navigation</span>
                                   <span class="icon-bar"></span>
                                   <span class="icon-bar"></span>
                                   <span class="icon-bar"></span>
                              </button>
                              
                              <!-- LOGO --> 
                              <div class="nav-brand">
                                   <a class="navbar-brand" href="#"><img src="https://res.cloudinary.com/oluaka/image/upload/v1600352620/oluaka_portal/logo/logo_cmjg5m.png" alt="logo"></a>
                              </div>             
                         </div>
                         <div id="navbar" class="navbar-collapse collapse">
                              <ul id="top-menu" class="nav navbar-nav navbar-right main-nav">
                                   <li class="active"><a href="#">Home</a></li>
                                   <li class="menu-item"><a href="login_page.html">Login</a></li>
                                   <li class="menu-item"><a href="register.html">Register</a></li>        
                              </ul>                     
                         </div><!--/.nav-collapse --> 
                         
                         <div class="mu-menu-body">
                              <h1>LET'S BE PART OF YOUR</h1>
                              <h1>SUCCESS STORY !!!</h1>
                              <div id="btn">
                                   <a class="btn" href="register.html"> Register with us</a>
                              </div>
                         </div>
                         
                    </div>     
               </nav>
          </section><!-- End menu -->
          

          <!--  PROGRAMS PAGE STARTS -->
          <section id="Programs-page">
               <div class="container">
                    <div class="program-title">
                         <h2>PROGRAMS OFFERED</h2>
                    </div>
                    <div class="programs">
                         <a href="#courses-offered">
                              <div class="row">
                                   <div class="col-md">
                                        <h3>Short Term Courses</h3>
                                        <p>  
                                          Our short term courses are created to enable you to upskill - whether you are switching careers or you are new in the Industry but don't have the luxury of time to invest. 
                                          Depending on the course of choice you are choosing, you are guaranteed a bespoke learning experience either through our online or offline classes. Courses here range from Hardware Maintenance,
                                          Software Development, Hardware Programming (using Arduino), UI/UX Design, Graphics Design, Digital Marketing and Photography. .
                                          This course leads to Certificate or Ordinary Diploma in the fields selected..
                                        </p>
                                   </div>
                                   <i>&#8601</i>
                              </div>
                         </a>
                        
                         <a href="#courses-offered2">
                              <div class="row">
                                   <div class="col-md">
                                        <h3>2 Years Diploma Courses</h3>
                                        <p>  
                                          Our National Innovation Diploma courses are created to make you a professional in the following disciplines:
                                          Hardware Engineering,
                                          Software Engineering,
                                          Networking & System Security.
                                          Going through this course assumes that you are entirely new to the Industry and requires a 100% time commitment to the course as it is a Full-time program.
                                          It is also important to note that admission into any of the National Diploma courses requires you to write UTME for the admission year. You are expected to sit and pass at least one professional certification examination before your graduation.
                                        </p>
                                   </div>
                                   <i>&#8601</i>
                              </div>
                         </a>
                    </div>
               </div>
               
          </section>
          

           <!-- ACCORDIONS PAGE STARTS-->
    <section id="courses-offered">
    <div class="container">
     <h2 class="courses-offered-heading">SHORT TERM COURSES</h2>
     <div class="course-container">
       <div class="accordion" id="odp">
         <!-- ODP -->
         <a id="accordion-link" href="#odp">
           Oluaka Developer's Program
           <ion-icon class="add" name="add-outline"></ion-icon>
           <ion-icon class="remove" name="remove-outline"></ion-icon>
         </a>
         <!-- odp body -->
         <div class="course-description">
           <p>
            Oluaka Developer’s Programme is a 15 - 36 weeks long Software Development Bootcamp targeted at Fresh graduates who are 
            willing to upskill in preparation for the Labour Market. Our curriculum is meticulously prepared and updated regularly 
            to meet the Industry standard. Since its commencement in 2018, we have trained and supported 80 software developers who 
            tremendously climbed the ladder from junior developers to intermediate developers within a short period of time. 
            They all work remotely with employers across the globe. You can also join in preparing yourself for global relevance by 
            signing up for this program.
            Beginning in 2022, we now have openings for both Online and On-site classes..
           </p>
         </div>
       </div>
       <!-- End of ODP -->

       <!-- Start of Entre-Dev -->
       <div class="accordion" id="entre-dev">
         <!-- Entre-Dev -->
         <a id="accordion-link" href="#entre-dev">
           Entrepreneurial Development
           <ion-icon class="add" name="add-outline"></ion-icon>
           <ion-icon class="remove" name="remove-outline"></ion-icon>
         </a>
         <!-- Entre-Dev body -->
         <div class="course-description">
           <p>
            Through the doggedness of the Institute in Business Matters, the CBN in 2019 accredited.
            We Oluaka Institute of Technology as an Enterprise Development Institute. This has led the Institute into creating courses 
            that will help MSMEs upgrade 
            from their regular way of doing business to a more standardized structure.
            Enterprise Development Training covers from the Basic Entrepreneurial Mindset to Developing Business Plans and Pitch Decks. 
            Regardless of the size of your business, you need this training to enable you to compete with your counterparts across the 
            shores of your business location.
            Our mantra is to build a business that will outlive you as the founder.
           </p>
         </div>
       </div>
       <!-- End of Entre-Dev -->

       <!-- Start of Prod-Des -->
       <div class="accordion" id="prod-des">
         <!-- Prod-Des -->
         <a id="accordion-link" href="#prod-des">
           Product Design
           <ion-icon class="add"  name="add-outline"></ion-icon>
           <ion-icon class="remove" name="remove-outline"></ion-icon>
         </a>
         <!-- Prod-Des body -->
         <div class="course-description">
           <p>
            A Successful Product is a Product of Design. Turn your idea into a full-fledged design. 
            Our Product Design class will take you from  ideation to the market using first an
            abstract product or service to a real product or service. Spotted a voguish product in the bazaar?
            Make a better one and spring ahead of competitors.
            You bring the madness, we’ll bring the style!
           </p>
         </div>
       </div>
       <!-- End of Prod-DES -->

       <!-- Start of UI/UX -->
       <div class="accordion" id="ui/ux">
         <!-- UI/UX -->
         <a id="accordion-link" href="#ui/ux">
           UI/UX Design
           <ion-icon class="add" name="add-outline"></ion-icon>
           <ion-icon class="remove" name="remove-outline"></ion-icon>
         </a>
         <!-- Ui/UX body -->
         <div class="course-description">
           <p>
            Custom web and mobile design for b2b data interfaces, dashboard and other projects. 
            Want to learn how to create a great user experience and focus on business goals, the UI/UX course is for you.
            In this class you begin with wireframing to customer persona to help improve the offerings of your clients.
           </p>
         </div>
       </div>
       <!-- End of UI/UX  -->
     </div>
      
     <div class="forReg">
       <p>Now you know what we offer it's time to take shot, <br> Click on the magical blue button</p>
       <a href="register.html" ><button id="reg">Register</button></a>
     </div>
    </div>
   </section>
   <!-- End of Short session -->

   <!-- Start of 2 year session -->
   <section id="courses-offered2">
        <div class="container">
          <h2 class="courses-offered-heading">2 YEARS FULL TIME COURSE WITH ND CERTIFICATE</h2>
          <div class="general-note">
            <p>
              These are 2 years full time programs with National Innovation Diploma awards/certificates. Each course cost 150,000 Naira yearly.
              this is strictly practical base, given you first hand experience while working with
              state of the art machineries and proffessionals of high repute and standards.
            </p>
          </div>
          <div class="course-container">
            <!-- Start of COMP HE -->
            <div class="accordion" id="comp-HE">
              <!-- COMP HE  -->
              <a id="accordion-link" href="#comp-HE">
                Computer Hardware Engineering
                <ion-icon class="add" name="add-outline"></ion-icon>
                <ion-icon class="remove" name="remove-outline"></ion-icon>
              </a>
              <!-- COMP HE  body -->
              <div class="course-description">
                <p> 
                     Our well-qualified Hardware Engineers educate students to become leaders in the design and implementation 
                     of the computing systems that touch every aspect of modern society. 
                     Enroll today to earn a National Innovation Diploma in C.H.E.
                </p>
              </div>
            </div>
            <!-- End of COMP HE  -->
            <!-- Start of COMP SE -->
            <div class="accordion" id="comp-SE">
              <!-- comp-SE -->
              <a id="accordion-link" href="#comp-SE">
                Computer Software Engineering
                <ion-icon class="add"  name="add-outline"></ion-icon>
                <ion-icon class="remove" name="remove-outline"></ion-icon>
              </a>
              <!-- comp-SE body -->
              <div class="course-description">
                <p>
                    With our Software Engineering degree, you can pursue professional paths in application development, 
                    database and systems administration, software and web deployment and more….
                    The project based curriculum will help you acquire proficiency in coding and 
                    modelling while practicing creative problem-solving. Click to enroll now!

                </p>
              </div>
            </div>
            <!-- End of comp-SE -->
            <!-- Start of NSS -->
            <div class="accordion" id="ness">
              <!-- NESS -->
              <a id="accordion-link" href="#ness">
                Network & System Security
                <ion-icon class="add" name="add-outline"></ion-icon>
                <ion-icon class="remove" name="remove-outline"></ion-icon>
              </a>
              <!-- Ness body -->
              <div class="course-description">
                <p>
                    Are you passionate about business, technology and network design? Do you want to learn more 
                    about cyber security and help your company develop secure networks? If so, 
                    Oluaka’s Computer Institute diploma in NASS is meant for you! 
                    Tap in to know more.
                    
                </p>
              </div>
            </div>
            <!-- End of Ness  -->
          </div>
     
          <div class="forReg">
            <p>Now you know what we offer it's time to take shot, <br> Click on the magical blue button</p>
            <a href="register.html"><button id="reg">Register</button></a>
          </div>
        </section>
        <!-- End of 2 year session -->
        </div>
    


          <!-- Start footer -->
          <footer id="mu-footer">
               <!-- start footer top -->
               <div class="mu-footer-top">
                    <div class="container">
                         <div class="mu-footer-top-area">
                              <div class="row">
                                   <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="mu-footer-widget">
                                             <h4 style="text-transform: capitalize;">Information About</h4>
                                             <ul>
                                                  <li><a href="#">Scholarship Offerings</a></li>
                                                  <!-- <li><a href="">Strategic plan</a></li>
                                                       <li><a href="">Oluaka Research</a></li>
                                                       <li><a href="">Libraries</a></li>
                                                       <li><a href="">Open days</a></li>
                                                       <li><a href="">Conferences at Oluaka</a></li>
                                                       <li><a href="">Statement on Talent Migration</a></li> -->
                                             </ul>
                                        </div>
                                   </div>
                                   <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="mu-footer-widget">
                                             <h4 style="text-transform: capitalize;">Information for</h4>
                                             <ul>
                                                  <li><a href="#">Prospective Undergraduate</a></li>
                                                  <li><a href="#">Current Oluaka Students</a></li>
                                                  <li><a href="#">ODP Interns</a></li>                  
                                             </ul>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div><!-- end footer top -->
          
          <!-- start footer bottom -->
          <div class="mu-footer-bottom">
               <div class="container">
                    <div class="mu-footer-bottom-area">
                         <p>&copy; Oluaka Tech Department</a></p>
                    </div>
               </div>
          </div><!-- end footer bottom -->
     </footer><!-- End footer -->
     
     <!-- jQuery library -->
     <script src="js/jquery.min.js"></script>  
     <!-- Include all compiled plugins (below), or include individual files as needed -->
     <script src="js/bootstrap.js"></script>   
     <!-- Slick slider -->
     <script type="text/javascript" src="js/slick.js"></script>
     <!-- Counter -->
     <script type="text/javascript" src="js/waypoints.js"></script>
     <script type="text/javascript" src="js/jquery.counterup.js"></script>  
     <!-- Mixit slider -->
     <script type="text/javascript" src="js/jquery.mixitup.js"></script>
     <!-- Add fancyBox -->        
     <script type="text/javascript" src="js/jquery.fancybox.pack.js"></script>
     <!-- Custom js -->
     <script src="js/custom.js"></script> 
     <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
     <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
     <script type="text/javascript" src="js/main.js"></script>
</body>
</html>