html {
  scroll-behavior: smooth;
}

/* START-MENU STYLINGS STARTS*/
#mu-menu .container{
    background-image: url("https://res.cloudinary.com/oluaka/image/upload/v1641998626/odp_projects/oluaka_building_akeb0z.jpg");
    background-position: center;
    background-size: cover;
    margin-bottom: 90px;
    width: 100%;
    height: 100vh;
    opacity: 0.95;
    overflow: hidden;
}
#mu-menu .container .navbar-header{
    margin-left: 100px;
    margin-bottom: 80px;
}
.nav-brand {
    margin-top:10px;
}
#mu-menu .container #navbar{
    margin-right: 100px;
}
.navbar ul li a{
    color: #000  !important;
    background-color: rgb(247, 235, 235, 0.5);
    margin-right: 2px;
}
.navbar ul li a:hover{
    background-color: #4DCEFD !important;
}
.container .mu-menu-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #000;
    background-color: rgb(245, 239, 239, 0.3);
}
.container .mu-menu-body h1{
    font-family:'Courier New', Courier, monospace;
    font-size: 40px;
    font-weight:900;
}
.container .mu-menu-body .btn{
    width: 180px;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #4DCEFD;
    font-family:cursive;
    font-size: large;
    font-weight: bold;
    border: 1px solid;
}
.container .mu-menu-body .btn:hover{
    transform: translateY(-3px);
    transition: all 0.9s ease-in-out;
}
/* START-MENU STYLINGS ENDS */

/* PROGRAMS-PAGE STYLINGS STARTS */
.container .program-title{
 text-align: center;
 margin-bottom: 100px;
}
.container .program-title h2{
    color: #992839;
}
.container .programs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
}
.container .programs .row{
    border: 2px solid;
    padding: 30px;
    margin-bottom: 180px;
    background-color: grey;
    color: #fff;
    box-shadow: 20px 20px #992839;
    cursor: pointer;
}
.container .programs .row .col-md h3{
    font-weight: bold;
}
.container .programs .row i{
  display: flex;
  justify-content: end;
}
/* PROGRAMS-PAGE STYLINGS ENDS */


/* ACCORDIONS PAGE STYLINGS STARTS*/
.container .courses-offered-heading{
    text-align: center;
    border-bottom: #777;
    padding: 20px 60px;
    margin-top: 50px;
  }

  /* Styling the section */
  #courses-offered {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    background-image: url(../images/circle-scatter-haikei\ \(4\).svg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  #courses-offered2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    background-image: url(../images/circle-scatter-haikei\ \(5\).svg);
    background-position:left;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .general-note{
    text-align: center;
    margin-bottom: 50px;
  }
  .general-note p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    font-size: larger;
  }
  /* short container */
  .course-container{
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1.5rem;
  }
  
  .accordion{
    background-color: rgb(218, 230, 230);
    border-radius: .4rem;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: .5rem, 2px .5rem rgba(0,0,0,.1);
  }
  #accordion-link {
    color: rgba(24, 20, 20, 0.8);
    text-decoration: none;
    width: 100% !important;
    display: flex !important; 
    align-items: center;
    justify-content: space-between !important;
    padding: 1rem 0;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
  }
  .add {
    padding: .5rem;
  }
  .remove{
    display: none;
    padding: .5rem;
  }
  .course-description{
    display: none;
    position: relative;
    background-color: aliceblue;
    transition: 2s;
  }
  .accordion.active .course-description {
    display: block;
  }
  .course-description::before {
    content: "";
    position: absolute;
    width: .6rem;
    height: 90%;
    background-color: #8fc460;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  .course-description p {
    font-size: medium;
    padding: 2rem;
  }
  .accordion.active #accordion-link .add {
    display: none;
  }
  .accordion.active #accordion-link .remove {
    display: block; 
  }
  .container .forReg {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    max-width: 500px;
    transform: translateX(35%);
  }
  .forReg p{
    color: #992839;
    font-size: large;
  }
  #reg {
    border-radius: 5px;
    width: 150px;
    background-color: #03CCFB;
    color: black;
    margin-left: 0;
    height: 6rem;
  }
/* ACCORDIONS PAGE STYLINGS ENDS*/


/* REGISTER FORMS STYLINGS STARTS */
#form-body{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: auto;
  margin-top: -20px;
  background-image: url(../images/wave-haikei\ \(19\).svg);
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
}
#form-contain{
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 15px;
  width: 400px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 1px solid #c0def1;
  box-shadow: 0 2px 20px rgb(89, 89, 247);
  background-color: rgb(245, 245, 245, 0.2);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: relative;
}
form{
  padding: 30px 40px;
}
#fg1{
  margin-bottom: 5px;
  position: relative;
  border: #fff;
  display: grid;
}
#fg1 input{
  width: 300px;
}
#fg1 select{
  width: 300px;
}
#fg1 i{
  margin-left: 115%;
  cursor: pointer;
  margin-top: -12%;
  position: absolute;
}
#fg2{
  margin-top: 15px;
}
#form-check .checkbox{
  margin-left: 18px;
  color: rgb(56, 56, 245);
}
#fg-btn button{
  width: 100%;
  margin-left: 0;
  background-color: rgb(56, 56, 245);
  color: #fff;
}
.body-image{
  width: 600px;
}
.body-image .image-fluid{
  width: 100%;
}

/* REGISTER FORMS STYLINGS ENDS */

/* LOGIN PAGE STYLINGS STARTS */

#loginForm i {
  margin-left: 90%;
  cursor: pointer;
  margin-top: -9%;
  position: absolute;
}

#pass_div {
  position: relative;
}
#loginModal{
  background-image: url("https://res.cloudinary.com/oluaka/image/upload/v1641998626/odp_projects/oluaka_building_akeb0z.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.95;
}
.modal-body{
  background-color: rgb(24, 24, 24,0.2);
}
.modal-body h3 a i{
  color: #198485;
}
#password{
  position: relative;
}



/* STUDENT DASHBOARD STYLINGS STARTS */

/* PROFILE-PIC UPLOAD STYLINGS */

.pic-holder {
  text-align: center;
  position: relative;
  border-radius: 50%;
  width: 150px;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.pic-holder .pic {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.pic-holder .upload-file-block,
.pic-holder .upload-loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(90, 92, 105, 0.7);
  color: #f8f9fc;
  font-size: 12px;
  font-weight: 600;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.pic-holder .upload-file-block {
  cursor: pointer;
}

.pic-holder:hover .upload-file-block {
  opacity: 1;
}

.pic-holder.uploadInProgress .upload-file-block {
  display: none;
}

.pic-holder.uploadInProgress .upload-loader {
  opacity: 1;
}

/* OFFCANVAS STYLINGS */

#offcanvas-nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#offcanvas-nav .pic-holder{
  width: 150px;
  height: 150px;
  margin: auto;
}
.nav-menu {
  margin-top: 40px;
  margin-left: 30px;
}
.nav-menu .nav-link{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: larger;
}

/* DASHBOARD BODY STYLING STARTS*/
#dash-body{
  background-color: #F4F5F9;
  padding-top: 20px;
}
#dashboardBtn{
  border-top-left-radius: 30px;
  background-color: #0B5ED7;
  color: #fff;
}
#dashboardBtn:hover{
  font-size: x-large;
  transition: all 0.5s ease-in-out;
}
#top-div{
  background-image: url(../images/layered-waves-haikei\ \(1\).svg);
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #F4F5F9;
  border-radius: 10px;
}
#top-btn{
  background-color: #FF6584;
}
#top-img{
  width: 350px;
}
#course-section a{
  text-decoration: none;
}
.card{
  height: auto;
  background-color: #F4F5F9 !important;
}
.card-image{
 width: 100%;
}
.card-image img{
  width: 100%;
  background-position: center;
}
#PD-footer{
  background-color: #FF6584;
}
.footer{
  border-bottom: 2px solid rgb(181, 181, 243);
}
.footer-text{
  display: flex;
  justify-content: end;
}
/* DASHBOARD BODY STYLING ENDS */


/* MEDIA QUERY STARTS*/

@media (max-width: 768px){
  /* MU-MENU SECTION   */
  
  #mu-menu .container{
        height: 100vh;
    }
    #mu-menu .container .navbar-header{
        margin-left: 10px;
    }
    .container .mu-menu-body h1{
        font-size: x-large;
    }

    /*PROGRAMS-PAGE */

    .navbar ul li a{
      font-weight: bold;
  }
    .container .program-title h2{
        font-size: xx-large;
        font-family: 'Courier New', Courier, monospace;
    }
    .container .programs{
        display: flex;
        flex-direction: column;
    }
    .container .programs .row{
        margin: 0 20px 20px 20px;
        box-shadow: 10px 10px #992839;
    }
    .container .programs {
        margin-bottom: 100px;
    }

    /*ACCORDIONS-PAGE */
    .container .forReg {
      transform: translateX(3%);
    }
    .container .courses-offered-heading{
      font-size: x-large;
    }

      /*REGISTER PAGE */
      #form-contain{
        margin-top: 40px;
        margin-bottom: 40px;
      }
      .body-image{
        display: none;
      }
      #form-body{
        display: flex;
      }
      
      /* LOGIN PAGE */
      #togglePassword{
        position: relative;
        transform: translateX();
        right: 15px;
        bottom: 10px;
      }

      /* DASHBOARD PAGE */
      
  }

@media (max-width: 375px){
    /* MU-MENU SECTION   */

    .container .mu-menu-body{
       height: 180px;
    }
    .container .mu-menu-body .btn{
        padding: 10px;
    }

     /*REGISTER PAGE */
     #form-contain{
      margin-top: 20px;
      margin-bottom: 40px;
    }
    
}

@media (width: 1024px){

   /* REGISTER PAGE */
   #form-contain{
    /* margin: auto; */
    margin-top: 40px;
    margin-bottom: 40px;
  }
   #form-body{
    display: grid;
    grid-template-columns: 60% 40%;
  }
  .body-image{
    width: 400px;
  }
  
  /*ACCORDIONS-PAGE */
   .container .forReg {
    transform: translateX(15%);
  }
}


@media (max-width: 450px){

  /*REGISTER FORMS */
  #form-contain{
    width: 350px;
  }

  /* LOGIN PAGE */
  #togglePassword{
    position: relative;
    transform: translateX();
    right: 20px;
    bottom: 10px;
  }
}

@media (max-width: 360px){
  /*REGISTER FORMS */

  #form-contain{
    width: 250px;
  }
  form{
    padding: 10px;
  }
  #fg1 input{
    width: 200px;
  }
  #fg1 select{
    width: 200px;
  } 
}

@media (min-width: 800px) and (max-width:912px){
  /* RESITRATION FORM */
  #form-body{
    display: flex;

  }
  #form-contain{
    margin: 0 20px 0 20px;
  }
  .body-image{
    width: 500px;
    margin-right: 20px;
  }
}

@media(max-width: 540px){
  /* DASHBOARD */
  #dash-body{
    width: 100%;
    overflow-x: hidden;
  }
  #top-div{
    margin-top: 0 !important;
  }
}
/* MEDIA QUERY ENDS */